<br />

<div class="booyah-box col-10 offset-1">
<br>
  <h1 class="text-center">Learn something today</h1>
  <br>
  <hr />
  <br>
  <br>

    <div class="container-fluid h-100">
  <div class="row h-100">
  <% @courses.each do |course| %>
  <div class="col-sm-4 h-100">
      <div class="col-12 text-center">
      <% if course.image.url %>
        <%= image_tag course.image.url(:thumb) %>
      <% end %>
      </div>
  <h2 class="text-center title">
    <%= link_to course.title, course_path(course) %>
  </h2>
  <br>
  <div class="row">
    <div class="col-12 text-center">
      <%= course.description.truncate(50) %>
    </div>
    <div class="col-12 text-center">
      <br>
      <%= link_to 'More Details...', course_path(course), class: 'btn btn-primary btn-md' %>
    </div>
  </div>
  <br class="clr">
  <hr class="separator1">
  <br>
  <br>
</div>
<br>
  <% end %>
</div>
</div>
</div>